<!DOCTYPE html>
<html>
<body>
<h1>Arabic Dialect Identification</h1>
<form action="/predict" method="post">
  <label for="fname">Enter the text - ادخل الجملة</label><br>
  <input type="text" id="InputText" name="InputText" value="ادخل الجملة"><br>
  <select name="Algorithm" id="Algorithm">
    <option value="LSTM">LSTM</option>
    <option value="SGD">Linear Classifier SGD</option>
  </select>
  <input type="submit" value="Predict">
</form> 
<h6>Developed by: Omar Sayed Mahmoud - github.com/omarsayed7</h6>
</body>
</html>

